<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooking Time  Calculator </title>
</head>
<body>
    <h1>Cooking Time</h1>
    <% if (cookingTime && cookingTime.length > 0) { %>
        <ul>
            <% cookingTime.forEach(item => { %>
                <li>
                    <h2><%= item.name %></h2>
                    <h3> Ingredients:</h3>
                    <ul>
                        <% item.ingredients.forEach(ingredient => { %>
                            <li><%= ingredient %></li>
                        <% }); %>
                    </ul>
                    <p>Cooking Time: <%= item.cooktime %></p>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No cooking time found</p>
    <% } %>
</body>
</html>
